@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap');
body{
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
.container{
    max-width: 1240px;
    margin: 10px 40px;
}

/* banner-section */

.main{
    margin-top: 30px;
    height:80vh;
}

.banner-container{
    display: flex;
    justify-content: space-evenly;
}

.banner-container p{
    
    font-weight: 700;
    font-size: 3.5rem;
}

.banner-container span{
    font-size: 28px;
    font-weight: 600;
}

.banner-container img{
    width: 100%;
    height: 100%;
}

.img-box{
    width: 330px;
    height: 350px;
}

.bannner-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.btn img{
    width: 22px;
    height: 22px;
    padding: 5px;
}

.btn a{
 text-decoration: none;
 font-size: 1.3rem;
 font-family: "poppins", sans-serif;
 font-weight: 300;
 color: black;
}

.btn{
    display: flex;
    justify-content: space-around;
    border:solid 0.5px rgb(97, 97, 97);
    border-radius: 10px;
    padding: 10px 0px 10px 0px ;
    width: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.btn:hover{
    background-color:  rgb(225, 225, 225);
    cursor: pointer;
}


/* chat bot section */
.chat-section{
    display: flex;
    justify-content: space-between;

}

.chat-section img{
    width: 380px;
    height: 400px;
}


.card-container{
    display: flex;
    justify-content: space-evenly;
}


.features-card{
    margin-block: 20px;
    padding-inline: 14px;
    padding-block: 5px;
    width: 350px;
    display: flex;
    flex-direction: column;
    /* border: solid 1.5px rgb(101, 101, 101); */
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.features-card:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    background-color: rgb(244, 244, 244);
}

.features-card img{
    margin: 10px;
    width: 70px;
    height: 70px;
}
.features-card h3{
    font-size: 20px;
    font-weight: 600;
    margin-block: 8px 3px;

}

.features-card p{
    text-align: left;
    font-size: 14px;
    margin-block: 1px;
    line-height: 1.5rem;
    padding: 10px;
}

/* .iphone img{
    width: 450px;
    height: 800px;
    display: relative;
} */
/* 
.chat-box{
    display: block;
    z-index: 5;
} */

/* .chat-box{
    height: 800px;
    width: 400px;  
    object-fit: contain;
}

#chat{
    background-color: transparent;
    width: 360px;
    height: 680px;
    background-image: url(/images/1694687058060.png);
    background-repeat: none;
    background-size: contain;
} */

#chat-section{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    margin-bottom: 80px;
}

footer{
    background-color: rgb(34, 34, 34);
    height: 150px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.footer-text span{
    margin-left: 16px;
}





















